<div class="indent-small"></div>

<h1 class="best-practices-heading">Best Practices</h1>

<div class="indent-small"></div>

<p><span class="do-flag" ng-style="{'color' : themes.activeTheme.activeColor}"><img class="do-check" src="./dist/resources/icons/check-bankmobile.svg" alt="">DO</span>
Allow for plenty of white space. Do place logo on fields that highly contrast with the logo itself. Do reverse to white on green or darker background colors or imagery.</p>

<div class="indent-medium"></div>

<div class="image-container">
  <img class="full-half" src="./dist/resources/images/BmLogoCard.png" alt="">
  <img class="full-half" src="./dist/resources/images/BmLogoCardGreen.png" alt="">
</div>

<div class="indent"></div>

<p><span class="dont-flag"><img src="./dist/resources/icons/check-warning.svg" alt="" class="dont-check">DON'T</span>
Alter the color of the logo (unless converting to white where appropriate). Do not apply alpha gradients to the logo. Do not place the logo on busy or conflicting imagery.</p>

<div class="indent-medium"></div>

<div class="image-container">
  <img class="full-half" src="./dist/resources/images/BmLogoCardRed.png"  alt="">
  <img class="full-half" src="./dist/resources/images/BmLogoCardRedGreen.png" alt="">
</div>

</div>
