<div class="indent-small"></div>

<h1 class="in-writing-heading">In Writing</h1>

<div class="indent-small"></div>

<p>Please refer to these guidlines when writing out our brand name in all types of communication. Avoid embedding the logo into text.</p>

<div class="indent-medium"></div>

<p>Both the “B” and the “M” in BankMobile are always uppercase and the brand is always written out as one word.</p>

<div class="indent"></div>

<span class="do-flag" ng-style="{'color' : themes.activeTheme.activeColor}"><img class="do-check" src="./dist/resources/icons/check-bankmobile.svg" alt="">BankMobile</span>

<div class="indent-small"></div>

<div class="grid-container">
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">Bankmobile</span>
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">Bank Mobile</span>
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">bank mobile</span>
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">bankMobile</span>
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">Bank Mobile</span>
    <span class="dont-flag"><img class="dont-check" src="./dist/resources/icons/check-warning.svg" alt="">Bnkmbl</span>
</div>
