<div class="indent-small"></div>

<h1 class="shorthand-heading">Shorthand</h1>

<div class="indent-small"></div>

<p>If space is constrained or a subtler, more graphical solution is required, the BankMobile "B" may be substituted for the full logo type.</p>

<div class="indent-medium"></div>

<div class="icon-container">
    <img src="./dist/resources/images/bmThumbGradient.jpg" alt="" class="thirds-image border-radius">
    <img src="./dist/resources/images/bmThumbGreen.png" alt="" class="thirds-image border-radius">
</div>