<div class="indent-small"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/BmLogoFlag.png" alt="">
</div>

<div class="indent-large"></div>

<h1 class="our-logo-heading">Spacing</h1>

<div class="indent-small"></div>

<p>The BankMobile logo is designed to stand alone; preferably on white, or fields of consistent color. It should never be crowded by graphical elements.</p>

<div class="indent-medium"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/BmLogoSpacing.png" alt="">
</div>