
<div class="indent-small"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/vibe-px-grotesk.png" alt="">
</div>

<div class="indent-small"></div>

<p>Px Grotesk is a commanding, modern, angular display typeface. It should be used for titles and headlines, and generally for text larger than 18px.</p>

<!--<div class="indent"></div>-->

<!--<h1>Radikal</h1>-->

<div class="indent-large"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/vibe-sailec.png" alt="">
</div>

<div class="indent-small"></div>

<p>Sailec is a round, neutral, readable typeface perfectly suited for body content. Any text smaller than 18px should be set in Sailec.</p>
