
<h1 class="default-theme">Default</h1>

<div class="indent-medium"></div>

<div class="grid-container">

    <div style="background:#0520E0" class="color-bar text-white">
        <p>Sapphire</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#0520E0</p>
        <div class="indent-small"></div>
        <p>89,80,0</p>        
    </div>

    <div style="background:#A6E080" class="color-bar ">
        <p>Lime Green</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#A6E080</p>
        <div class="indent-small"></div>
        <p>36,0,65</p>
    </div>

    <div style="background:#F2D961" class="color-bar">
        <p>Canary Yellow</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#F2D961</p>
        <div class="indent-small"></div>
        <p>6,10,74</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>

    <div style="background:#FF9FAE" class="color-bar">
        <p>Bright Salmon</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#FF9FAE</p>
        <div class="indent-small"></div>
        <p>0,47,14</p>
    </div>

    <div style="background:#F7EAE8" class="color-bar ">
        <p>Pale Beige</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#F7EAE8</p>
        <div class="indent-small"></div>
        <p>2,7,5</p>
    </div>

    <div style="background:#AA447C" class="color-bar text-white">
        <p>Burgundy</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#AA447C</p>
        <div class="indent-small"></div>
        <p>34,87,25</p>
    </div>

    <div style="background:#546477" class="color-bar text-white">
        <p>Warm Grey</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#546477</p>
        <div class="indent-small"></div>
        <p>65,58,57</p>
    </div>

</div>