<h1>Tertiary</h1>

<div class="indent-medium"></div>

<div class="grid-container">

    <div style="background:#B1CF38" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#B1CF38</p>
        <div class="indent-small"></div>
        <p>177, 207, 56</p>        
    </div>

    <div style="background:#3BB34A" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#3BB34A</p>
        <div class="indent-small"></div>
        <p>59, 179, 74</p>
    </div>

    <div style="background:#06B49A" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#06B49A</p>
        <div class="indent-small"></div>
        <p>6, 180, 154</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>

    <div style="background:#0BA3C6" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#0BA3C6</p>
        <div class="indent-small"></div>
        <p>11, 163, 198</p>
    </div>

    <div style="background:#D12373" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#D12373</p>
        <div class="indent-small"></div>
        <p>209, 146, 115</p>
    </div>

    <div style="background:#DF2250" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#DF2250</p>
        <div class="indent-small"></div>
        <p>223, 34, 80</p>
    </div>

    <div style="background:#F59225" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#F59225</p>
        <div class="indent-small"></div>
        <p>245, 146, 37</p>
    </div>
    
    <div style="background:#515466" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#515466</p>
        <div class="indent-small"></div>
        <p>84, 104, 102</p>
    </div>

    <div style="background:#c23329" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#c23329</p>
        <div class="indent-small"></div>
        <p>194, 51, 41</p>
    </div>

</div>