
<h1 class="default-theme">Default Theme</h1>

<div class="indent-medium"></div>

<div class="grid-container">

    <div class="color-bar action-color">
        <p >Action</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#FF8A5E</p>
        <div class="indent-small"></div>
        <p>255, 138, 94</p>        
    </div>
    <div class="color-bar error-color">
        <p >Error</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#FFDE38</p>
        <div class="indent-small"></div>
        <p>255, 222, 56</p>
    </div>
    <div class="color-bar primary-color text-white">
        <p >Primary</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#3AB34A</p>
        <div class="indent-small"></div>
        <p>58, 179, 74</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>
    <div class="color-bar secondary-color text-white">
        <p >Secondary</p>
        <div class="indent-small"></div>
        <p class="color-bar-title">#5F94FF</p>
        <div class="indent-small"></div>
        <p>95, 148, 255</p>
    </div>
    
</div>