<h1>Grayscale</h1>

<div class="indent-medium"></div>

<div class="grid-container">

    <div class="color-bar text-white" style="background: #404040">
        <p class="color-bar-title" >#404040</p>
        <div class="indent-small"></div>
        <p>0, 0, 0, 75</p>        
    </div>
    <div class="color-bar text-white" style="background: #808080">
        <p class="color-bar-title">#808080</p>
        <div class="indent-small"></div>
        <p>0, 0, 0, 50</p>
    </div>
    <div class="color-bar text-white" style="background: #B0B0B0">
        <p class="color-bar-title">#B0B0B0</p>
        <div class="indent-small"></div>
        <p>0, 0, 0, 31</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>
    <div class="color-bar" style="background: #D9D9D9">
        <p class="color-bar-title">#D9D9D9</p>
        <div class="indent-small"></div>
        <p>0, 0, 0, 17</p>
    </div>

</div>