<h1 class="tertiary-theme">Tertiary Colors</h1>

<div class="indent-medium"></div>

<div class="grid-container">

    <div class="color-bar text-white" style="background: #FF5C70">
        <p class="color-bar-title" >#FF5C70</p>
        <div class="indent-small"></div>
        <p>255, 92, 122</p>        
    </div>
    <div class="color-bar text-white" style="background: #C34F3D">
        <p class="color-bar-title">#C34F3D</p>
        <div class="indent-small"></div>
        <p>195, 79, 61</p>
    </div>
    <div class="color-bar " style="background: #9EFF00">
        <p class="color-bar-title">#9EFF00</p>
        <div class="indent-small"></div>
        <p>158, 255, 0</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>
    <div class="color-bar text-white" style="background: #000C26">
        <p class="color-bar-title">#000C26</p>
        <div class="indent-small"></div>
        <p>0, 12, 38</p>
    </div>
    <div class="color-bar text-white" style="background: #2A2121">
        <p class="color-bar-title">#2A2121</p>
        <div class="indent-small"></div>
        <p>42, 33, 33</p>
    </div>
    
</div>