<div class="indent-small"></div>

<h1>Layout</h1>

<div class="indent-small"></div>

<p><span class="do-flag" ng-style="{'color' : themes.activeTheme.activeColor}"><img class="do-check" src="./dist/resources/icons/do-check.png" alt="">DO</span>
Arrange text in the common hierarchal format used in most web communications, from H1 Headers (titles, headlines), to H2 (sections, sub headlines), to H3 (same font size as body copy, but bold).</p>

<div class="indent-medium"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/layout-waterfall.png" alt="">
</div>

<div class="indent"></div>


<p><span class="do-flag" ng-style="{'color' : themes.activeTheme.activeColor}"><img class="do-check" src="./dist/resources/icons/do-check.png" alt="">DO</span>
Maintain consistent vertical space throughout large sections of body copy for easy readability. This can be accomplished by treating text differently depending on if it is regular copy, or a list of links.</p>

<div class="indent-medium"></div>

<div class="image-container">
    <img class="full" src="./dist/resources/images/layout-breaks.png" alt="">
</div>

<div class="indent"></div>


<p><span class="do-flag" ng-style="{'color' : themes.activeTheme.activeColor}"><img class="do-check" src="./dist/resources/icons/do-check.png" alt="">DO</span>
Whole line breaks are used to separate H2 and H3 headers, and Half Line Breaks are used to separate links from the body copy. For a list of links, as shown on the left, they would all be separated with Half Line Breaks to avoid someone accidentally clicking a link that they did not intend to.</p>