<h1>Core Sans</h1>

<div class="indent-small"></div>

<div class="image-container">
    <img src="./dist/resources/images/core-sans-thumb.png" alt="">
</div>

<div class="indent-small"></div>

<p>Core Sans is functional and readable. Recommended for use in body copy and subheadings smaller than 18px</p>

<div class="indent"></div>

<h1>Radikal</h1>

<div class="indent-small"></div>

<div class="image-container">
    <img src="./dist/resources/images/radikal-thumb.png" alt="">
</div>

<div class="indent-small"></div>

<p>Radikal is bold and graphic. Recommended for use in headings larger than 18px or to generally command attention.</p>
