<h1>Primary</h1>
<div class="indent-small"></div>

<div class="grid-container">

    <div style="background:#2c2f51" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#2c2f51</p>
        <div class="indent-small"></div>
        <p>44,47,81</p>        
    </div>

    <div style="background:#000c26" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#000c26</p>
        <div class="indent-small"></div>
        <p>0,12,38</p>
    </div>

    <div style="background:#c462e8" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#c462e8</p>
        <div class="indent-small"></div>
        <p>196,98,232</p>        
        <!--<p>Pantone Solid - Coated 2271 C</p>-->
    </div>

    <div style="background:#5ba2fc" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#5ba2fc</p>
        <div class="indent-small"></div>
        <p>91,162,252</p>
    </div>

    <div style="background:#5daefc" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#5daefc</p>
        <div class="indent-small"></div>
        <p>93,174,252</p>
    </div>

    <div style="background:#6ffeed" class="color-bar">
        <div class="indent-small"></div>
        <p class="color-bar-title">#6ffeed</p>
        <div class="indent-small"></div>
        <p>11,254,237</p>
    </div>

    <div style="background:#86fec5" class="color-bar">
        <div class="indent-small"></div>
        <p class="color-bar-title">#86fec5</p>
        <div class="indent-small"></div>
        <p>134,254,197</p>
    </div>

    <div style="background:#98fca8" class="color-bar ">
        <div class="indent-small"></div>
        <p class="color-bar-title">#98fca8</p>
        <div class="indent-small"></div>
        <p>152,252,168</p>
    </div>

    <div style="background:#18b66e" class="color-bar text-white">
        <div class="indent-small"></div>
        <p class="color-bar-title">#18b66e</p>
        <div class="indent-small"></div>
        <p>24,182,110</p>
    </div>

</div>